@import '~@angular/material/theming';
@import '~@sunpower/ui-material/theming';

// See sample at https://github.com/angular/material2/blob/master/src/lib/core/selection/pseudo-checkbox/_pseudo-checkbox-theme.scss
@mixin sunpower-<%= dashCaseBasename %>-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $custom: map-get($theme, custom);

  // add your color theme
  .<%= dashCaseBasename %> {

  }

}

@mixin sunpower-<%= dashCaseBasename %>-typography($config) {

  // example only, change for your implementation
  //.sp-<%= name %>-subtitle,
  //.sp-<%= name %>-content,
  //.sp-<%= name %>-header .mat-card-title {
  //  font-size: mat-font-size($config, body-1);
  //}

}
